In [1]:
# 1.1 Importar librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1.2 Cargar datos
df = pd.read_csv("Dataset_Peliculas.csv")  # Usa el nombre correcto del archivo

# 1.3 Vista general
df.info()
df.describe()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [2]:
# 💡 Franja 2: Conversión de columnas tipo JSON a estructuras Python (listas de diccionarios)
# Objetivo: Limpiar y transformar las columnas que contienen listas codificadas como strings JSON, para facilitar el análisis

import json

# Lista de columnas que contienen datos en formato string con listas de diccionarios
columnas_json = ['spoken_languages', 'genres', 'production_companies', 'production_countries']

def convertir_a_lista(diccionario_str):
    """
    Convierte una cadena de texto en formato lista de diccionarios a su representación en Python.
    Reemplaza comillas simples por dobles para que json.loads funcione correctamente.
    """
    if pd.isnull(diccionario_str) or diccionario_str == '':
        return []
    try:
        return json.loads(diccionario_str.replace("'", '"'))
    except json.JSONDecodeError:
        return []

# Aplicamos la conversión a cada columna
for col in columnas_json:
    df[col] = df[col].apply(convertir_a_lista)

# 🔍 Visualización de las primeras filas de cada columna ya transformada
print("✅ Columnas convertidas a estructuras Python. Ejemplos:")

# Creamos nuevas columnas con solo los nombres (para análisis más sencillo)
df['spoken_language_names'] = df['spoken_languages'].apply(lambda langs: [lang['name'] for lang in langs])
df['genre_names'] = df['genres'].apply(lambda genres: [genre['name'] for genre in genres])
df['production_company_names'] = df['production_companies'].apply(lambda comps: [comp['name'] for comp in comps])
df['production_country_names'] = df['production_countries'].apply(lambda countries: [country['name'] for country in countries])

# Mostramos ejemplos
df[['title', 'spoken_language_names', 'genre_names', 'production_country_names']].head(10)

✅ Columnas convertidas a estructuras Python. Ejemplos:

,title,spoken_language_names,genre_names,production_country_names
0,Avatar,"[English, Español]","[Action, Adventure, Fantasy, Science Fiction]","[United States of America, United Kingdom]"
1,Pirates of the Caribbean: At World's End,[English],"[Adventure, Fantasy, Action]",[United States of America]
2,Spectre,"[Français, English, Español, Italiano, Deutsch]","[Action, Adventure, Crime]","[United Kingdom, United States of America]"
3,The Dark Knight Rises,[English],"[Action, Crime, Drama, Thriller]",[United States of America]
4,John Carter,[English],"[Action, Adventure, Science Fiction]",[United States of America]
5,Spider-Man 3,"[English, Français]","[Fantasy, Action, Adventure]",[United States of America]
6,Tangled,[English],"[Animation, Family]",[United States of America]
7,Avengers: Age of Ultron,[English],"[Action, Adventure, Science Fiction]",[United States of America]
8,Harry Potter and the Half-Blood Prince,[English],"[Adventure, Fantasy, Family]","[United Kingdom, United States of America]"
9,Batman v Superman: Dawn of Justice,[English],"[Action, Adventure, Fantasy]",[United States of America]